<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.1.xsd">
	<http auto-config="true">
	<intercept-url pattern="/loginform" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
	<intercept-url pattern="/loginfailure" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
	<intercept-url pattern="/logoutpage" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
	<intercept-url pattern="/**" access="ROLE_MAKER, ROLE_CHECKER"/>
	<form-login login-page="/loginform" authentication-failure-url="/loginfailure"
	default-target-url="/defaultpage" always-use-default-target="true" />
	<access-denied-handler error-page="/noaccess"/>
	<logout logout-success-url="/logoutpage"/>
	<!-- <http-basic/> -->
	</http>
	<beans:bean id="pencoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>	
	<authentication-manager>
	<authentication-provider>
	<password-encoder ref="pencoder"/>
	<user-service>
	<user name="user01" password="$2a$10$yB5.kQb8hWhczMIi1AXyLeMeyrxbCzAFu2fKmGnHqCaFSEE6HA9ca" authorities="ROLE_MAKER"/>
	<user name="user02" password="$2a$10$60MizRuxmXrTwOsOfsAxqeZXuQMb9ivaOwtOU4cmfuSmX/sQ/itnm" authorities="ROLE_CHECKER"/>
	<user name="user03" password="user03" authorities="ROLE_GUEST"/>
	</user-service>
	<!-- <jdbc-user-service data-source-ref="ds" users-by-username-query="" authorities-by-username-query=""/> -->
	</authentication-provider>
	</authentication-manager>
	
	</beans:beans>